:root {
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --shadow-blue: hsl(225, 23%, 83%);
}

body {
  background-color: var(--pale-blue);
  background-image: url("/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0px;
}

h1,
p,
button,
section {
  font-family: "Red Hat Display", sans-serif;
  margin: 0px;
}

@media (min-width: 375px) {
  body {
    background-image: url("/pattern-background-desktop.svg");
  }
}
